/* 
@media only screen and (max-width: 960px) {
	.details {
		margin: 15% 5% 0% 5%;
		display: grid;
		grid-gap: 5px;
		grid-template-areas:
			'info info'
			'reviews review'
			'trailer trailer';
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 350px);
	}
	.App {
		min-height: 300vh;
	}
}
.info {
	grid-area: info;
	min-height: 270px;
	display: grid;
	border: solid #877ad2 1px;
	border-radius: 10px;
	grid-template-areas:
		'title'
		'image';
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-template-rows: repeat(2, 600px);
	margin: 3%;
	background-color: #dbdbd7;
}
.info > img {
	height: 77%;
	grid-area: image;
	padding: 5%;
}
.info > .title {
	grid-area: title;
}

.title > h4 {
	font-size: 95%;
	margin-top: 0px;
	color: #d6ad87;
}
.title > h3 {
	font-size: 95%;
	margin: 0px;
	color: #d6ad87;
}
 */
.details {
	margin-top: 10%;
}
.details > img {
	height: 800px;
	width: 1000px;
}
.title > h4 {
	font-size: 95%;
	margin-top: 0px;
	color: #d6ad87;
}
.title > h4 > a {
	text-decoration: none;
	color: #d6ad87;
}
.title > h3 {
	font-size: 95%;
	margin: 0px;
	color: #d6ad87;
}
.goback {
	border-right: 15px solid;
	border-bottom: 15px solid;
	height: 30px;
	width: 30px;
	transform: rotate(135deg);
	margin: 5% auto;
	color: #d6ad87;
}
