.webpage-item {
	display: grid;
	border: solid #877ad2 1px;
	border-radius: 10px;
	max-width: 360px;
	min-height: 300px;
	grid-template-areas:
		'image'
		'title';
	margin: 3%;
	background-color: #dbdbd7;
}

.webpage-item > a > img {
	width: 70%;
	height: 60%;
	max-height: 200px;
	grid-area: image;
	padding: 8% 8% 0 8%;
}
.webpage-item > a {
	text-decoration: none;
}
.basic-info {
	grid-area: title;
	width: 85%;
	margin: 0 auto;
}
.basic-info > h4 {
	font-size: 90%;
	margin: 0px;
	color: #332390;
	overflow-wrap: break-word;
}
.basic-info > h4 > a {
	text-decoration: none;
}
.basic-info > h3 {
	font-size: 90%;
	margin: 5%;
	margin-bottom: 0px;
	color: #332390;
	overflow-wrap: break-word;
}
